<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TBH - 404</title>
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 100vh;
            overflow: hidden;
            background-color: #e4e4ff;
        }
    </style>
</head>
<body>
    <div>
        <h1>
            404 - Page not found
        </h1>
        <h3>
            {{ flavor_text }}
        </h3>
    </div>
</body>
</html>
