<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TBH - 404</title>
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: start;
            padding-top: 5vh;
            height: 100vh;
            overflow: hidden;
            background-color: #e4e4ff;
        }
    </style>
</head>
<body>
    Well that's just awkward, you shouldn't be here!!!!!
</body>
</html>
