<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TBH - Privacy Policy</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: flex-start;
            text-align: justify;
            height: 100vh;
            background-color: #e4e4ff;
        }
        div {
            margin: 5vh 20vw 20vh;
        }
        .back {
            text-decoration: none;
            color: black;
            font-weight: 700;
            font-size: 18px;
            margin: 0;
            display: inline-block;
            border-bottom: 2px solid black;
        }
    </style>
</head>
<body>
    <div>
        <a class="back" href="javascript:history.back();">Go back</a>
        <h1 id="privacy-policy">Privacy Policy</h1>
        <p>Last updated: December 25th, 2024</p>
        <p>This Privacy Policy (&quot;Policy&quot;) describes how Isra Tello (&quot;Developer,&quot; &quot;we,&quot; &quot;us,&quot; or &quot;our&quot;) collects, uses, and safeguards the personal information obtained through your use of the Discord bot (&quot;Bot&quot;) and tbh-app.link website (&quot;Website&quot;) developed by the Developer. By using the Bot or the associated Website, you consent to the data practices described in this Policy.</p>
        <h2 id="1-acceptance-of-policy">1. Acceptance of Policy</h2>
        <p>By using the Website, Bot or adding the Bot to your Discord applications, you acknowledge that you have read, understood, and agreed to the practices described in this Privacy Policy.</p>
        <p>Please note that this Privacy Policy only applies to the data collected by the Bot and associated Website and does not cover the privacy practices of any third-party services or websites linked to or integrated with the Bot.</p>
        <h2 id="2-information-collection">2. Information Collection</h2>
        <p>a. Data Collected: The Bot and the associated Website collect certain data, including Discord user IDs, usernames, and Direct Messages IDs sent by the Bot, as well as information about the commands executed. The Bot does not collect any personally identifiable information (PII) unless voluntarily provided by users.</p>
        <p>b. Use of Cookies: Neither the Bot nor the Website use cookies or similar tracking technologies.</p>
        <h2 id="3-information-use">3. Information Use</h2>
        <p>a. Data Usage: The data collected by the Bot and the associated Website is solely for functionality and debugging purposes, and will never be published or shared with third-party services without your explicit consent, unless required by law.</p>
        <p>b. Aggregated Data: We may compile aggregated, non-personal information from the data collected by the Bot for statistical analysis and reporting purposes. This aggregated data does not identify individual users and cannot be linked back to any specific individuals.</p>
        <h2 id="4-information-security">4. Information Security</h2>
        <p>a. Data Protection: We take reasonable precautions to protect the data collected by the Bot from unauthorized access, use, or disclosure. However, no method of transmission over the internet or electronic storage is completely secure, and we cannot guarantee the absolute security of your data.</p>
        <p>b. Retention: We retain the collected data for as long as necessary to fulfill the purposes outlined in this Policy, unless a longer retention period is required or permitted by law.</p>
        <h2 id="5-third-party-services">5. Third-Party Services</h2>
        <p>a. Discord Platform: The Bot operates within the Discord platform. Your use of the Bot is subject to the Discord Privacy Policy and Terms of Service. We encourage you to review the privacy practices of Discord for a comprehensive understanding of how your information is handled on their platform.</p>
        <h2 id="6-children-s-privacy">6. Children&#39;s Privacy</h2>
        <p>The Bot is not intended for use by individuals under the age of 13. We do not knowingly collect personal information from children. If we become aware that we have inadvertently collected personal information from a child under 13, we will take steps to delete the information as soon as possible.</p>
        <h2 id="7-changes-to-this-policy">7. Changes to this Policy</h2>
        <p>We reserve the right to update or modify this Policy at any time. Any changes will be effective immediately upon posting the revised Policy within the Bot or on the Website. We encourage you to review this Policy periodically for any updates. Your continued use of the Bot after the posting of the revised Policy constitutes your acceptance of such changes.</p>
        <h2 id="contact">Contact</h2>
        <p>If you have any questions, concerns, or requests regarding this Policy, please reach out to <a href="mailto:israkaya9@gmail.com">israkaya9@gmail.com</a>.</p>
    </div>
</body>
</html>
