<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TBH - Terms of Service</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: flex-start;
            text-align: justify;
            height: 100vh;
            background-color: #e4e4ff;
        }
        div {
            margin: 5vh 20vw 20vh;
        }
        .back {
            text-decoration: none;
            color: black;
            font-weight: 700;
            font-size: 18px;
            margin: 0;
            display: inline-block;
            border-bottom: 2px solid black;
        }
    </style>
</head>
<body>
    <div>
        <a class="back" href="javascript:history.back();">Go back</a>
        <h1 id="terms-of-service">Terms of Service</h1>
        <p>Last updated: December 25th, 2024</p>
        <p>These Terms of Service (&quot;Terms&quot;) govern your use of the Discord bot (&quot;Bot&quot;) and the tbh-app.link website (&quot;Website&quot;) developed by Isra Tello (&quot;Developer&quot;). By using the Website, Bot or adding the Bot to your Discord applications, you agree to comply with these Terms. If you do not agree with any of the provisions stated herein, please refrain from using the Bot or the associated Website.</p>
        <h2 id="1-acceptance-of-terms">1. Acceptance of Terms</h2>
        <p>By using the Website, Bot or adding the Bot to your Discord applications, you affirm that you have read, understood, and agreed to these Terms, and that you are of legal age to enter into a binding agreement. If you are using the Bot on behalf of an organization or entity, you warrant that you have the necessary authority to accept these Terms on their behalf.</p>
        <h2 id="2-description-of-the-bot">2. Description of the Bot</h2>
        <p>The Bot is an open-source Discord bot designed to send and recieve anonymous messages in Discord&#39;s Direct Messages. The Bot is provided to you free of charge and without warranties.</p>
        <h2 id="3-use-of-the-bot">3. Use of the Bot</h2>
        <p>a. Content Responsibility: The Developer is not responsible for any content, media, messages, or actions uploaded, shared, or sent through the Bot or associated Website. Users are solely responsible for the content they upload or transmit while using the Bot. The Developer does not monitor, control, or modify the content transmitted through the Bot and disclaims all liability arising from such content.</p>
        <p>b. Data Collection: The Bot collects certain data, including Discord user IDs, usernames, and Direct Messages IDs sent by the Bot, as well as information about the commands executed. This data is collected solely for functionality and debugging purposes, and will never be published or shared with third-party services without your explicit consent, unless required by law.</p>
        <h2 id="4-intellectual-property">4. Intellectual Property</h2>
        <p>The Bot is open-source, subject to the terms of the applicable open-source licenses. You may access, modify, and distribute the source code of the Bot in accordance with the applicable licenses.</p>
        <h2 id="5-limitations-of-liability">5. Limitations of Liability</h2>
        <p>a. No Warranty: The Bot is provided on an &quot;as is&quot; and &quot;as available&quot; basis, without any warranties or conditions, express or implied. The Developer does not warrant that the Bot will be error-free, uninterrupted, or free from harmful components. Your use of the Bot is at your own risk.</p>
        <p>b. Indemnification: You agree to indemnify, defend, and hold harmless the Developer from any claims, damages, liabilities, and expenses (including reasonable attorneys&#39; fees) arising out of or in connection with your use of the Bot, your violation of these Terms, or your violation of any rights of any third party.</p>
        <h2 id="6-modifications-to-the-terms">6. Modifications to the Terms</h2>
        <p>The Developer reserves the right to modify these Terms at any time. Any changes will be effective immediately upon posting the revised Terms on the Developer&#39;s website or within the Bot. Your continued use of the Bot after the posting of the revised Terms constitutes your acceptance of such changes.</p>
        <h2 id="7-entire-agreement">7. Entire Agreement</h2>
        <p>These Terms constitute the entire agreement between you and the Developer regarding the subject matter herein and supersede any prior or contemporaneous agreements, communications, or representations, whether oral or written.</p>
        <h2 id="contact">Contact</h2>
        <p>You can reach out to <a href="mailto:israkaya9@gmail.com">israkaya9@gmail.com</a> if you have any questions about the terms and condictions.</p>
    </div>
</body>
</html>
